@import "tailwindcss";
*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
p{
  font-size: 14px;
}
ul{
  list-style-position: inside;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  padding: 0 15px;
}
.logo img{
  max-width: 100%;
  width: 130px;
}
.profileArea{
  display: flex;
  min-width: 225px;
  justify-content: space-around;
}
.profileArea span img{
  width: 30px;
  cursor: pointer;
}
.parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.videocard{
  box-shadow: 1px 6px 3px #ddd;
  border-radius: .45rem; overflow: hidden;
}
.thumbnail img{
  max-width: 100%;
}
.videoContent{
  margin-top: 5px;
  padding: 5px 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.videoContent p{
  margin: 0;
}
.videoContent .left img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.videoContent .right ul{
  margin-top: 5px;
  gap: 8px;
}

.videoContent .right ul li{
font-size: 12px;
}